html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

document,
body {
    margin: 0;
}

.site-container {
    background-color: maroon;
    color: white;
    font-family: monospace;
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: auto;
}

.view-container {
    display: flex;
    justify-content: center;
}

.pane {
    border: 3px solid whitesmoke;
    box-shadow: 1px 1px whitesmoke;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

.game-list-entry:hover {
    box-shadow: 3px 3px whitesmoke;
}

.index-view {
    /* width: 500px; */
}


.games-list {
    width: 500px;
}